html {
	font-family: "Droid Serif", Georgia, Times, serif;
}

form {
	position: relative;
	top: 250px;
}

#generate {
	background-color: #ededed;
	border-color: #e1e1e1;
	color: #777;
}

#result {
	font-size: 20px;
	color: white;
}